/* Search Module Goes Here */
#search input#mod-search-searchword {
  background: url(../images/header-blue.png) no-repeat -180px -100px;
  height: 34px;
  width: 218px;
  border: none;
  text-indent: 15px;
}
#search input#mod-search-searchword:focus {
  background: url(../images/header-blue.png) no-repeat -180px -136px;
  height: 34px;
  width: 218px;
  color: #FFF;
}